<div class="role_choosing">

  <div class="role_choice" style="background: radial-gradient(darkred 25%, red, firebrick)"
       (click)="chooseRole('redS')">
    <p class="role_text">Red Spymaster</p>
  </div>

  <div class="role_choice" style="background: radial-gradient(blue, dodgerblue, darkblue)"
       (click)="chooseRole('blueS')">
    <p class="role_text">Blue Spymaster</p>

  </div>

  <div class="role_choice" style="background: radial-gradient(darkred 25%, red, firebrick)"
       (click)="chooseRole('redD')">
    <p class="role_text">Red Detective</p>
  </div>

  <div class="role_choice" style="background: radial-gradient(blue, dodgerblue, darkblue)"
       (click)="chooseRole('blueD')">
    <p class="role_text" >Blue Detective</p>
  </div>
</div>
