<div class="backdrop">
<div class="card-box">
<mat-card class="profileCard">
    <mat-card-header>
      <div mat-card-avatar class="assets/profile.jpg"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Send Message</button>
      <button mat-button>{{isIgnored ? 'UnIgnore':'Ignore'}}</button>
      <button mat-button>{{isFriend ? 'Add Friend':'Remove Friend'}}</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>